* {
    box-sizing: border-box;
    color: #53ff53;
}

html,
body,
.container {
    height: 100%;
    margin: 0;
}

.container {
    background-color: #414141;
    display: flex;
    flex-flow: column;
}

.top-part {
    display: flex;
    flex-flow: column;
    flex: 1;
    margin: 10px;
    border: 1px solid pink;
    padding: 10px;
}

.bottom-part {
    display: flex;
    height: 187px;
    border: 1px solid yellow;
    margin: 10px;
    margin-top: 0;
    flex-flow: column;
    padding: 10px;
}

.bottom-part input,
.array input {
    width: 100%;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #525252;
    color: white;
    font-family: Consolas;
    font-size: 18px;
    background-color: #000000;
}

.bottom-part button,
.array button,
.status button {
    color: chartreuse;
    padding: 5px;
    background-color: transparent;
    border: 1px solid green;
    cursor: pointer;
    font-weight: bold;
    padding: 7px 10px;
}

.bottom-part button:hover,
.array button:hover,
.status button:hover,
.title > button:hover {
    background-color: yellow;
    color: black;
}

.result,
.mask,
.style1,
.style2 {
    display: flex;
    flex-flow: row;
    align-items: center;
    margin-bottom: 10px;
}

.result > div:nth-child(2),
.mask > div:nth-child(2),
.style1 > div:nth-child(2),
.style2 > div:nth-child(2) {
    flex: 1;
    margin: 0 10px;
}

.result > div:nth-child(3),
.mask > div:nth-child(3),
.style1 > div:nth-child(3),
.style2 > div:nth-child(3) {
    display: flex;
    flex-flow: row;
    align-items: center;
}

.result > div:nth-child(3) input[type="checkbox"],
.mask > div:nth-child(3) input[type="checkbox"],
.style1 > div:nth-child(3) input[type="checkbox"],
.style2 > div:nth-child(3) input[type="checkbox"] {
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

.title {
    display: flex;
    flex-flow: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.title > div:first-child {
    font-size: 28px;
}

.title > button {
    font-weight: bold;
    background-color: transparent;
    font-size: 32px;
    width: 40px;
    border: 1px solid green;
    cursor: pointer;
}

.top-part > div:nth-child(2) {
    flex: 1;
    /* background-color: white; */
    box-shadow: 0 0 10px 0 white;
}

.scan-holder {
    display: flex;
    flex-flow: column;
    width: 100%;
    padding: 10px;
    position: relative;
}

.array {
    display: flex;
    flex-flow: row;
    align-items: center;
    width: 100%;
    box-shadow: 0 0 1px 0 #d5ff72;
    padding: 10px;
    margin-bottom: 17px;
}

.array:hover {
    box-shadow: 0 0 2px 2px #d5ff72;
    background-color: #333600;
}

.array > div:nth-child(2) {
    padding: 0 10px;
    flex: 1;
}

.array > div:nth-child(3) {
    padding-right: 10px;
}

.array > div:nth-child(3) > input {
    width: 20px;
    height: 20px;
}

.hide-this {
    display: none;
}

.put-array-here {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 10px;
}

.btn-del {
    margin-left: 10px;
    font-size: 24px;
    line-height: 15px;
}

.array .btn-del:hover {
    background-color: red;
    color: yellow;
}

.status {
    display: flex;
    width: 100%;
    flex-flow: row;
    justify-content: space-between;
    margin-top: 15px;
    align-items: center;
}

.status > div:first-child {
    flex: 1;
    overflow: hidden;
    white-space: nowrap;
    margin-right: 10px;
    text-overflow: ellipsis;
}

.status > div:nth-child(2) {
    display: flex;
    flex-flow: row;
    align-items: center;
}

.status > div:nth-child(2) input {
    height: 20px;
    width: 20px;
    margin-right: 10px;
}
